<div><%= image_tag musica.bannerimg %> </div>
<p class=""></p>
<p class=""><%= musica.titulo %></p>
<input type="button" onmousedown="<%= musica.demotitulo %>.play()" name="button" value="Escuchar Online" class="demoBoton">