<!-- <p style="color: green"><%= notice %></p> -->
<script src="https://www.paypal.com/sdk/js?client-id=AT3sCq_151stlAqShcSHr5o4ySQdYQxKuaQddHxSSevisfFjVjKzc6NJ1vED-wJ5BHwmmkqY34ezwJw2&currency=EUR&disable-funding=credit,card,sofort"></script>
<header>
      <!-- Condicional del registro -->
<div id="logo"> <img src="" alt="Logo"></div>
    <div id="headerLinks">
    </div>
  </header>
  <section id="offer">
    <h2>MUSICA DE CALIDAD</h2>
    <p>Escucha todo tipo de musicas</p>
  </section>
  <div id="content">
    <section class="sidebar">
      <div id="menubar">
        <nav class="menu">
          <h2>Menu de herramientas</h2>
          <hr>
          <ul>
            <!-- Lista de HERRAMIENTAS -->
            <li><a href="https://github.com/carlosjose1267/aplicacionweb" title="Github" target="_blank">Enlace Github</a></li>
            <li>
              <a>Comprar Reproductor MP3</a>
              <script>
      paypal.Buttons({
        createOrder: (data, actions) => {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '5.00' 
              }
            }]
          });
        },
        onApprove: (data, actions) => {
          return actions.order.capture().then(function(orderData) {
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            const transaction = orderData.purchase_units[0].payments.captures[0];
            alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
            actions.redirect('https://drive.google.com/uc?export=download&id=1XM4N5goTRCUePJg8s_oRVnefp6IyZPsc'); 
          });
        }
      }).render('.menu');
    </script>
            </li>
          </ul>
        </nav>


      </div>
    </section>

  <section class="mainContent">
      <div class="productRow">
    <article class="productInfo">
  <% @musicas.each.with_index do |musica| %>
    <%= render musica %>
    <%= link_to "Ver detalles", musica, class: 'btn btn-success' %>
  <% end %>
  </article>
  </div>
</section>
</div>
<%= link_to "Subir musica nueva", new_musica_path, class: 'btn btn-warning' %>



